xd {
	background: url(https://img2.freepng.es/20190227/he/kisspng-emoji-face-tongue-smiley-yuck-emoji-www-picturesboss-com-5c76f1888756f7.8933021215512989525544.jpg);
	background-size: 20px;
	padding: 2px 10px;
	margin-right: 5px;
}